{% extends 'base.html' %}

{% block content %}

    <div style="margin-top:100px;" class="row text-center">
      <div class="col-md-8">


            <div class="row">
                  <!-- Blog Post -->
                  <div class="card mb-4 mt-4">
                    <div class="card-body">
                      <h2 class="card-title">{{blog.title}}</h2>
                      <p class="card-text">{{blog.blog_content}}</p>
                    </div>
                    <div class="card-footer text-muted">
                      Posted on: {{blog.created_at }}
                      Latest Update:{{blog.updated_at }}
                      <span class= "text-info mr-2">{{post.author}}</span>
                    </div>
                  </div>
              </div>

      </div>

    </div>


  {% endblock %}